SERVICE_NAME=colppy-sales
NODE_ENV=development
PORT=3000
DEBUG=false

COLPPY_DATABASE_HOST=localhost
COLPPY_DATABASE_PORT=5432
COLPPY_DATABASE_USERNAME=postgres
COLPPY_DATABASE_PASSWORD=postgres
COLPPY_DATABASE_NAME=colppy_business_case
